/* Feed */
.feed {
  flex: 1;
  padding: 30px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Story Reel */
.storyReel {
  display: flex;
}
/* story */
.story {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 200px;
  box-shadow: 0 5px 17px -7px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin-right: 10px;
  transition: transform 100ms ease-in;
  cursor: pointer;
}
.story:hover {
  transform: scale(1.07);
}
.story__avatar {
  margin: 10px;
  border: 5px solid #2e81f4;
}
.story > h4 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}

/* messageSender */
.messageSender {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  background: #fff;
  border-radius: 15px;
  width: 100%;
  box-shadow: 0 5px 7px -7px rgba(0, 0, 0, 0.75);
}
.messageSender__top {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #eff2f5;
}
.messageSender__top > form {
  flex: 1;
  display: flex;
}
.messageSender__top > form > input {
  outline-width: 0;
  border: none;
  padding: 5px 20px;
  margin: 0 10px;
  border-radius: 999px;
  background: #eff2f5;
}
.messageSender__top > form > button {
  display: none;
}
.messageSender__input {
  flex: 1;
}
.messageSender__bottom {
  display: flex;
  justify-content: space-evenly;
}
.messageSender__option {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 5px;
  color: grey;
}
.messageSender__option > h4 {
  font-size: medium;
  margin-left: 10px;
  cursor: pointer;
}
.messageSender__option:hover {
  background-color: #eff2f5;
  border-radius: 20px;
}

/* Post */
.post {
  width: 100%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 5px 7px -7px rgba(0, 0, 0, 0.75);
}
.post__top{
    display: flex;
    align-items: center;
    padding: 0 15px;
    position: relative;
}
.post__avatar{
    margin-right: 10px;
}
.post__topInfo > h3{
    font-size: medium;
}
.post__topInfo > p {
    font-size: small;
    color: gray;
}
.post__bottom{
    padding: 0px 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.post__image > img{
    width: 100%;
}
.post__options{
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
}
.post__option{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}
.post__option > p{
    margin-left: 10px;
}
.post__option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}