.sidebar{
    padding: 25px 10px;
    flex: .33;
}
.sidebarRow{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.sidebarRow:hover{
    background: lightgray;
    border-radius: 10px;
}
.sidebarRow > h4{
    margin-left: 40px;
    font-weight: 600;
}
.sidebarRow > .MuiSvgIcon-root{
    color: #2e81f4;
    font-size: xx-large;
}