.login{
    display: grid;
    place-items: center;
    height: 100vh;
}
.login > div > img{
    object-fit: contain;
    height: 150px;
}
.login > div{
    display: flex;
    flex-direction: column;
}
.login > button{
    width: 100px;
    background-color: #2e81f4;
    color: #efefef;
    font-weight: 800;
}
.login > button:hover{
    background-color: #fff;
    color: #2e81f4;
}
